{# format form tự động bằng bootstrap layout #}
{% form_theme noteForm 'bootstrap_5_layout.html.twig' %}

{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-5 text-center mt-3">
   {# cách 1: ngắn gọn #}
   {# {{ form (noteForm) }}  #}

   {# cách 2: đầy đủ hơn #}
   {{ form_start (noteForm) }}
   {{ form_end (noteForm) }}
</div>
{% endblock %}