{% form_theme laptopForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6">
   <h2 class="text text-secondary">Add new laptop</h2>
   {{ form (laptopForm )}}
</div>
{% endblock %}