{% extends "template.html.twig" %}

{% block body %}
   {% set diachi = "Ha Noi" %}
   <h3>Full name: {{ ten }}</h3>
   <h3>Student ID: {{ masv }}</h3>
   <h3>Email: {{ thu }}</h3>
   <h3>Address: {{ diachi }}</h3>
{% endblock %}