{# kế thừa file template #}
{% extends "template.html.twig" %}

{# khai báo block body để override nội dung web page #}
{% block body %}
<div class="container col-md-8 text-center mt-3">
   <h1>Welcome to my Symfony webpage !</h1>
   <a class="btn btn-danger" href="https://ap.greenwich.edu.vn/">Greenwich AP System</a>
</div>
{% endblock %}
